body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(164, 195, 253);

  width: 10vw;
  height: 50vh;

  min-width: 300px;
  min-height: 300px;

  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  border-style: none;
  background-color: rgb(48, 114, 236);
  color: white;
  font-size: medium;
  padding: 0.75rem;
  border-radius: 0.25rem;
}
